___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [19]:
import requests

currReq = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange')

currReq.status_code

200

2. Отримати курс долара за останній рік.

In [21]:
from datetime import date, datetime, timedelta
import requests


dateBY = date(2022, 1, 1)
date = datetime.now()
curDate = date.date()
delta = curDate - dateBY
db = []

# Названия парамтров из адресной строки
for d in range(delta.days + 1):
    params = {
    
       'json' : 'json',
       'date' : date.strftime('%Y%m%d'),
       'valcode' : 'USD'
    
    }

    currReq = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange', params = params)

    result = currReq.json()
    db.extend(result)
    
    date = date - timedelta(days=1)

db

#date = db[0]['exchangedate']
#month = date.split('.')
#int(month[1])

[{'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '13.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '12.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '11.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '10.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '09.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '08.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '07.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '06.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '05.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '04.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '03.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '02.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '01.06.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '31.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '30.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '29.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '28.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '27.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '26.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '25.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '24.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '23.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '22.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '21.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '20.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '19.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '18.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '17.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '16.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '15.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '14.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '13.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '12.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '11.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '10.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '09.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '08.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '07.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '06.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '05.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '04.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '03.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '02.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '01.05.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '30.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '29.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '28.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '27.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '26.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '25.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '24.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '23.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '22.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '21.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '20.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '19.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '18.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '17.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '16.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '15.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '14.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '13.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '12.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '11.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '10.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '09.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '08.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '07.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '06.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '05.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '04.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '03.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '02.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '01.04.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '31.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '30.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '29.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '28.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '27.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '26.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '25.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '24.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '23.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '22.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '21.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '20.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '19.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '18.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '17.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '16.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '15.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '14.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '13.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '12.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '11.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '10.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '09.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '08.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '07.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '06.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '05.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '04.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '03.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '02.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '01.03.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '28.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '27.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '26.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '25.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 29.2549,
  'cc': 'USD',
  'exchangedate': '24.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.9877,
  'cc': 'USD',
  'exchangedate': '23.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.4846,
  'cc': 'USD',
  'exchangedate': '22.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3428,
  'cc': 'USD',
  'exchangedate': '21.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3,
  'cc': 'USD',
  'exchangedate': '20.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3,
  'cc': 'USD',
  'exchangedate': '19.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3,
  'cc': 'USD',
  'exchangedate': '18.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.0943,
  'cc': 'USD',
  'exchangedate': '17.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.2424,
  'cc': 'USD',
  'exchangedate': '16.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.5355,
  'cc': 'USD',
  'exchangedate': '15.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.0346,
  'cc': 'USD',
  'exchangedate': '14.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.8756,
  'cc': 'USD',
  'exchangedate': '13.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.8756,
  'cc': 'USD',
  'exchangedate': '12.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.8756,
  'cc': 'USD',
  'exchangedate': '11.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.9795,
  'cc': 'USD',
  'exchangedate': '10.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.9619,
  'cc': 'USD',
  'exchangedate': '09.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.9998,
  'cc': 'USD',
  'exchangedate': '08.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.1468,
  'cc': 'USD',
  'exchangedate': '07.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.2701,
  'cc': 'USD',
  'exchangedate': '06.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.2701,
  'cc': 'USD',
  'exchangedate': '05.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.2701,
  'cc': 'USD',
  'exchangedate': '04.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3876,
  'cc': 'USD',
  'exchangedate': '03.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.318,
  'cc': 'USD',
  'exchangedate': '02.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.4555,
  'cc': 'USD',
  'exchangedate': '01.02.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.7839,
  'cc': 'USD',
  'exchangedate': '31.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.9879,
  'cc': 'USD',
  'exchangedate': '30.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.9879,
  'cc': 'USD',
  'exchangedate': '29.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.9879,
  'cc': 'USD',
  'exchangedate': '28.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.7984,
  'cc': 'USD',
  'exchangedate': '27.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.6658,
  'cc': 'USD',
  'exchangedate': '26.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3749,
  'cc': 'USD',
  'exchangedate': '25.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3181,
  'cc': 'USD',
  'exchangedate': '24.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3236,
  'cc': 'USD',
  'exchangedate': '23.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3236,
  'cc': 'USD',
  'exchangedate': '22.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.3236,
  'cc': 'USD',
  'exchangedate': '21.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.4038,
  'cc': 'USD',
  'exchangedate': '20.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.4101,
  'cc': 'USD',
  'exchangedate': '19.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 28.122,
  'cc': 'USD',
  'exchangedate': '18.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.9514,
  'cc': 'USD',
  'exchangedate': '17.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.7372,
  'cc': 'USD',
  'exchangedate': '16.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.7372,
  'cc': 'USD',
  'exchangedate': '15.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.7372,
  'cc': 'USD',
  'exchangedate': '14.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.7073,
  'cc': 'USD',
  'exchangedate': '13.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.5093,
  'cc': 'USD',
  'exchangedate': '12.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.4998,
  'cc': 'USD',
  'exchangedate': '11.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.4977,
  'cc': 'USD',
  'exchangedate': '10.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.4551,
  'cc': 'USD',
  'exchangedate': '09.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.4551,
  'cc': 'USD',
  'exchangedate': '08.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.4551,
  'cc': 'USD',
  'exchangedate': '07.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.4551,
  'cc': 'USD',
  'exchangedate': '06.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.2976,
  'cc': 'USD',
  'exchangedate': '05.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.2782,
  'cc': 'USD',
  'exchangedate': '04.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.2782,
  'cc': 'USD',
  'exchangedate': '03.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.2782,
  'cc': 'USD',
  'exchangedate': '02.01.2022'},
 {'r030': 840,
  'txt': 'Долар США',
  'rate': 27.2782,
  'cc': 'USD',
  'exchangedate': '01.01.2022'}]

3. Вивести середнє значення та відхилення курсу за кожний місяць.

In [1]:
from datetime import date, datetime, timedelta
import requests, statistics


dateBY = date(2022, 1, 1)
date = datetime.now()
curDate = date.date()
delta = curDate - dateBY
curMonth = datetime.now().month

db = []
mvD = {}
valueDict = {}
listSTD = []
meanValue = 0
days = 0

# Названия парамтров из адресной строки
for d in range(delta.days + 1):

    params = {
    
       'json' : 'json',
       'date' : date.strftime('%Y%m%d'),
       'valcode' : 'USD'
    
    }

    currReq = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange', params = params)

    result = currReq.json()
    db.extend(result)
    
    date = date - timedelta(days=1)
    dateDB = db[d]['exchangedate']
    monthDB = dateDB.split('.')
    monthDBN = int(monthDB[1])
 
    if monthDBN == curMonth:
        meanValue = meanValue + db[d]['rate']
        listSTD.append(db[d]['rate'])
        days += 1
    else:
        mvD[curMonth] = (meanValue / days)
        valueDict[curMonth] = listSTD
        curMonth = monthDBN
        meanValue = db[d]['rate']
        listSTD= []
        listSTD.append(db[d]['rate'])
        
        days = 1
    mvD[curMonth] = meanValue / days
    valueDict[curMonth] = listSTD
    
for keys, values in mvD.items():
    print("mean Value - " + str(keys), str(values))


stdevDict = {}
for key, value in valueDict.items():
    stdevDict[key] = statistics.stdev(value)  

print('Standard deviation')
stdevDict

mean Value - 6 29.254900000000003
mean Value - 5 29.254900000000013
mean Value - 4 29.254900000000013
mean Value - 3 29.254900000000013
mean Value - 2 28.413664285714283
mean Value - 1 27.98127096774194
Standard deviation

{6: 0.0, 5: 0.0, 4: 0.0, 3: 0.0, 2: 0.4628261934505384, 1: 0.5864507613281491}

4. Дану інформацію записати у файл за допомогою pickle.

In [119]:
from datetime import date, datetime, timedelta
import requests, statistics, pickle


dateBY = date(2022, 1, 1)
date = datetime.now()
curDate = date.date()
delta = curDate - dateBY
curMonth = datetime.now().month

db = []
mvD = {}
valueDict = {}
listSTD = []
meanValue = 0
days = 0

# Названия парамтров из адресной строки
for d in range(delta.days + 1):

    params = {
    
       'json' : 'json',
       'date' : date.strftime('%Y%m%d'),
       'valcode' : 'USD'
    
    }

    currReq = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange', params = params)

    result = currReq.json()
    db.extend(result)
    
    date = date - timedelta(days=1)
    dateDB = db[d]['exchangedate']
    monthDB = dateDB.split('.')
    monthDBN = int(monthDB[1])
 
    if monthDBN == curMonth:
        meanValue = meanValue + db[d]['rate']
        listSTD.append(db[d]['rate'])
        days += 1
    else:
        mvD[curMonth] = (meanValue / days)
        valueDict[curMonth] = listSTD
        curMonth = monthDBN
        meanValue = db[d]['rate']
        listSTD= []
        listSTD.append(db[d]['rate'])
        
        days = 1
    mvD[curMonth] = meanValue / days
    valueDict[curMonth] = listSTD
    



stdevDict = {}
for key, value in valueDict.items():
    stdevDict[key] = statistics.stdev(value)  




file1 = open('myfile.bin', 'wb')

pickle.dump(stdevDict, file1)

file1.close()

file2 = open('myfile1.bin', 'wb')

pickle.dump(mvD, file2)

file2.close()

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

In [ ]:
"""CREATE DATABASE agrosem"""

"""CREATE TABLE product(
    product_id int AUTO_INCREMENT 
    product_code int NOT NULL,
    name varchar(100) NOT NULL,
    price DECIMAL(15, 2) NOT NULL,
    weight DECIMAL(15, 2) NOT NULL
    PRIMARY KEY(product_id); 
)"""

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

In [75]:
# Show info about DB
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("PRAGMA database_list;")
curr_table = curs.fetchall()
print(curr_table)
conn.close()

[(0, 'main', '/data/notebook_files/tysql.sqlite')]

2. Виведіть перелік всіх таблиць.

In [76]:
#Show list of all tables in DB
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute('SELECT name from sqlite_master where type = "table";')
curr_table = curs.fetchall()

print(curr_table)

[('Customers',), ('OrderItems',), ('Orders',), ('Products',), ('Vendors',)]

3. Список всіх cust_id з таблиці Customers table.

In [77]:

import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute('SELECT cust_id FROM customers;')
curr_table = curs.fetchall()

print(curr_table)

[('1000000001',), ('1000000002',), ('1000000003',), ('1000000004',), ('1000000005',)]

4. Всю таблицю Customers table

In [97]:
#Show list of all tables in DB
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute('SELECT * FROM customers;')
curr_table = curs.fetchall()

for i in enumerate(curr_table):
    print(i)

(0, ('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com'))
(1, ('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None))
(2, ('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com'))
(3, ('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com'))
(4, ('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None))

5. Список клієнтів (cust_names) відсортованих від Z до A

In [86]:

import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute('SELECT DISTINCT cust_name FROM customers ORDER BY cust_name DESC;')
curr_table = curs.fetchall()

print(curr_table)

[('Village Toys',), ('The Toy Store',), ('Kids Place',), ('Fun4All',)]

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

In [87]:
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute('SELECT cust_id, order_num FROM orders ORDER BY cust_id, order_date;')
curr_table = curs.fetchall()

print(curr_table)

[('1000000001', 20009), ('1000000001', 20005), ('1000000003', 20006), ('1000000004', 20007), ('1000000005', 20008)]

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

In [94]:
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute('SELECT * FROM orderitems ORDER BY quantity DESC, item_price DESC;')
curr_table = curs.fetchall()

for i in enumerate(curr_table):
    print(i)

(0, (20009, 1, 'BNBG01', 250, 2.49))
(1, (20009, 2, 'BNBG02', 250, 2.49))
(2, (20009, 3, 'BNBG03', 250, 2.49))
(3, (20005, 2, 'BR03', 100, 10.99))
(4, (20005, 1, 'BR01', 100, 5.49))
(5, (20007, 2, 'BNBG01', 100, 2.99))
(6, (20007, 3, 'BNBG02', 100, 2.99))
(7, (20007, 4, 'BNBG03', 100, 2.99))
(8, (20007, 1, 'BR03', 50, 11.49))
(9, (20007, 5, 'RGAN01', 50, 4.49))
(10, (20006, 1, 'BR01', 20, 5.99))
(11, (20006, 3, 'BR03', 10, 11.99))
(12, (20006, 2, 'BR02', 10, 8.99))
(13, (20008, 3, 'BNBG01', 10, 3.49))
(14, (20008, 4, 'BNBG02', 10, 3.49))
(15, (20008, 5, 'BNBG03', 10, 3.49))
(16, (20008, 2, 'BR03', 5, 11.99))
(17, (20008, 1, 'RGAN01', 5, 4.99))

8. Товар (з таблиці Products), ціна якого становить 9.49

In [96]:
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("SELECT prod_name FROM products WHERE prod_price = '9.49';")
curr_table = curs.fetchall()

for i in enumerate(curr_table):
    print(i)

(0, ('King doll',))
(1, ('Queen doll',))

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

In [102]:
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("SELECT prod_name, prod_price FROM products WHERE prod_price BETWEEN '3' AND '6' ORDER BY prod_price;")
curr_table = curs.fetchall()

for i in enumerate(curr_table):
    print(i)

(0, ('Fish bean bag toy', 3.49))
(1, ('Bird bean bag toy', 3.49))
(2, ('Rabbit bean bag toy', 3.49))
(3, ('Raggedy Ann', 4.99))
(4, ('8 inch teddy bear', 5.99))

10. Кількість товару, що було продано

In [109]:
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("""SELECT products.prod_name, SUM(orderitems.quantity), orderitems.prod_id FROM 
                orderitems INNER JOIN products ON products.prod_id = orderitems.prod_id
                GROUP BY products.prod_name ;""")
curr_table = curs.fetchall()

for i in enumerate(curr_table):
    print(i)

(0, ('12 inch teddy bear', 10, 'BR02'))
(1, ('18 inch teddy bear', 165, 'BR03'))
(2, ('8 inch teddy bear', 120, 'BR01'))
(3, ('Bird bean bag toy', 360, 'BNBG02'))
(4, ('Fish bean bag toy', 360, 'BNBG01'))
(5, ('Rabbit bean bag toy', 360, 'BNBG03'))
(6, ('Raggedy Ann', 55, 'RGAN01'))

11. Кількість найменувань товару, ціна якого більша за 4

In [119]:
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("""SELECT COUNT(prod_name) FROM 
                products
                WHERE products.prod_price > 4;""")
curr_table = curs.fetchall()

print(curr_table)

[(6,)]

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

In [128]:
conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("""SELECT prod_name, prod_price FROM 
                products order BY prod_price DESC;""")
curr_table = curs.fetchall()

for count, value in enumerate(curr_table):
    print(count, value)
    if count > 1:
        break

0 ('18 inch teddy bear', 11.99)
1 ('King doll', 9.49)
2 ('Queen doll', 9.49)

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

In [131]:
conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("""SELECT cust_id, COUNT(order_num) FROM 
                orders GROUP BY cust_id;""")
curr_table = curs.fetchall()

for count, value in enumerate(curr_table):
    print(count, value)

0 ('1000000001', 2)
1 ('1000000003', 1)
2 ('1000000004', 1)
3 ('1000000005', 1)

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

In [133]:
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("""SELECT customers.cust_name, orders.order_num FROM 
                customers INNER JOIN orders ON customers.cust_id = orders.cust_id ;""")
curr_table = curs.fetchall()

for i in enumerate(curr_table):
    print(i)

(0, ('Village Toys', 20005))
(1, ('Fun4All', 20006))
(2, ('Fun4All', 20007))
(3, ('The Toy Store', 20008))
(4, ('Village Toys', 20009))

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

In [135]:
import sqlite3

conn = sqlite3.connect("/data/notebook_files/tysql.sqlite")
curs = conn.cursor()

curs.execute("""SELECT prod_name FROM 
                products 
                WHERE prod_price < 5
                UNION
                SELECT prod_name FROM 
                products 
                WHERE prod_price >= 5;""")
curr_table = curs.fetchall()

for i in enumerate(curr_table):
    print(i)

(0, ('12 inch teddy bear',))
(1, ('18 inch teddy bear',))
(2, ('8 inch teddy bear',))
(3, ('Bird bean bag toy',))
(4, ('Fish bean bag toy',))
(5, ('King doll',))
(6, ('Queen doll',))
(7, ('Rabbit bean bag toy',))
(8, ('Raggedy Ann',))

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди

In [ ]:
 """1. SELECT model, speed, hd FROM pc
WHERE price < 500

2. SELECT maker FROM product
WHERE type = 'Printer'
GROUP BY maker

3. SELECT model, ram, screen FROM laptop
WHERE price > 1000

4. SELECT * FROM printer
WHERE color = 'y'

5. SELECT model, speed, hd FROM pc
WHERE (price < 600) AND (cd = '12x' OR cd = '24x')

6. SELECT DISTINCT product.maker, laptop.speed FROM laptop
INNER JOIN product ON product.model = laptop.model 
WHERE (laptop.hd >= 10) AND (product.type = 'laptop')
         
7. SELECT pc.model, pc.price FROM pc
INNER JOIN product ON pc.model = product.model
WHERE product.maker = 'B'
UNION
SELECT laptop.model, laptop.price FROM laptop
INNER JOIN product ON laptop.model = product.model
WHERE product.maker = 'B'
UNION
SELECT printer.model, printer.price FROM printer
INNER JOIN product ON printer.model = product.model
WHERE product.maker = 'B'

         
8. SELECT DISTINCT maker
FROM Product
WHERE type = 'PC' AND maker NOT IN (
SELECT maker
FROM Product
WHERE type = 'Laptop')
         
9. SELECT DISTINCT maker FROM product 
INNER JOIN pc ON product.model = pc.model
WHERE pc.speed >= 450

10. SELECT model, price FROM printer
WHERE price IN (SELECT MAX(price) FROM printer)
         
11. SELECT AVG(speed) FROM pc
         
12. SELECT AVG(speed) FROM laptop
WHERE price > 1000
         
13. SELECT AVG(speed) FROM pc
WHERE model IN(SELECT model FROM product WHERE maker = 'A')

14. SELECT ships.class, ships.name, classes.country FROM ships
INNER JOIN classes ON ships.class = classes.class
WHERE classes.numGuns >= 10
         
15. SELECT hd FROM pc
GROUP BY hd
HAVING COUNT(hd) >= 2
         
16. SELECT DISTINCT pc1.model AS model, pc2.model AS model, pc1.speed As speed, pc1.ram As ram FROM PC AS pc1, PC AS pc2 
WHERE pc1.speed = pc2.speed AND pc1.ram = pc2.ram AND pc1.model > pc2.model

17. SELECT DISTINCT product.type, laptop.model, laptop.speed from laptop 
INNER JOIN product ON product.model = laptop.model where laptop.speed < ALL (select speed from pc)
         
18. SELECT product.maker, printer.price FROM product 
INNER JOIN printer ON product.model = printer.model
WHERE printer.price IN (SELECT MIN(printer.price)FROM printer where printer.color = 'y')
         
19. SELECT product.maker, AVG(laptop.screen) FROM product 
INNER JOIN laptop ON product.model = laptop.model
GROUP BY maker
         
20. SELECT maker, COUNT(model) FROM product
WHERE type = 'pc'
GROUP BY maker
HAVING Count(model) >= 3
         
21. SELECT product.maker, MAX(pc.price) FROM product
JOIN pc ON product.model = pc.model
GROUP BY maker
         
22. SELECT speed, AVG(price) FROM pc
WHERE speed > 600
GROUP BY speed

         
23. SELECT maker FROM product
INNER JOIN pc ON product.model = pc.model
WHERE pc.speed >= 750
intersect
SELECT maker FROM product
INNER JOIN laptop ON product.model = laptop.model
WHERE laptop.speed >= 750
         
24. WITH modelMP AS (SELECT model, price FROM pc
UNION ALL
SELECT model, price FROM laptop
UNION ALL
SELECT model, price FROM printer)
SELECT DISTINCT model FROM modelMP WHERE price IN (SELECT max(price) FROM modelMP)

         
25. SELECT DISTINCT product.maker FROM product 
JOIN pc ON product.model = pc.model 
WHERE pc.ram IN (SELECT MIN(pc.ram) FROM pc) AND (pc.speed IN (SELECT MAX(pc.speed) FROM pc WHERE pc.ram IN (SELECT MIN(ram) FROM pc) )) 
AND product.maker IN (SELECT maker FROM product WHERE type = 'printer')
         
26. SELECT AVG(price) AS AVGPr FROM
(SELECT price FROM pc
INNER JOIN product ON pc.model = product.model WHERE product.maker = 'a'
UNION ALL
SELECT price FROM laptop
INNER JOIN product ON laptop.model = product.model WHERE product.maker = 'a')AS Products
         
27. SELECT AVG(pc.hd), product.maker FROM pc 
INNER JOIN product ON pc.model = product.model
WHERE product.maker  IN (SELECT product.maker FROM product WHERE product.type  = 'printer')
GROUP BY maker
         
28. SELECT DISTINCT COUNT(maker) AS Qty FROM product 
WHERE maker IN (SELECT maker FROM product GROUP BY maker HAVING COUNT(model) = 1)
         
29. SELECT income_o.point, income_o.date, inc, out FROM Income_o
left join Outcome_o ON income_o.date = Outcome_o.date AND income_o.point = 
outcome_o.point
UNION 
SELECT Outcome_o.point, Outcome_o.date, inc, out FROM Income_o
right join Outcome_o ON income_o.date = Outcome_o.date AND income_o.point = 
outcome_o.point
         
30. select point, date, SUM(sum_out), SUM(sum_inc)
from( select point, date, SUM(inc) as sum_inc, null as sum_out from Income Group by point, date
Union
select point, date, null as sum_inc, SUM(out) as sum_out from Outcome Group by point, date ) as t
group by point, date order by point