___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [ ]:
import pandas as pd


pd.show_versions()
pd._config

Вивести версію та конфігурацію бібліотеки:

INSTALLED VERSIONS
------------------
commit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d
python           : 3.8.12.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.11.0-1016-aws
Version          : #17~20.04.1-Ubuntu SMP Thu Aug 12 05:39:36 UTC 2021
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.3.5
numpy            : 1.21.5
pytz             : 2022.1
dateutil         : 2.8.2
pip              : 21.3.1
setuptools       : 62.6.0
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : 5.0.2
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.7.1
html5lib         : None
pymysql          : 1.0.2
psycopg2         : 2.9.2 (dt dec pq3 ext lo64)
jinja2           : 3.1.2
IPython          : 7.31.1
pandas_datareader: 0.10.0
bs4              : 4.11.1
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.5.1
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
sqlalchemy       : 1.4.26
tables           : None
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : None
numba            : None

/opt/python/envs/default/lib/python3.8/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

In [ ]:
import pandas as pd

df = pd.read_csv('Ecommerce Purchases.csv')

df

Скільки рядків і стовпців в наборі даних:

In [19]:
print(df.index)
print(len(df.columns))

RangeIndex(start=0, stop=10000, step=1)
14

Перевірити, чи в наборі даних містяться порожні значення:

In [31]:
df.isnull().values.any()# check empty values in df

False

Яка середня ціна закупки (Purchase Price):

In [33]:
df['Purchase Price'].mean()

50.347302

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [14]:
df['Language'].value_counts()['en']# count qty of values in column

1098

Скільки людей має посаду «Lawyer»?

In [54]:
df['Job'].value_counts()['Lawyer']

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [68]:
print(df['AM or PM'].value_counts()['AM'])
print(df['AM or PM'].value_counts()['PM'])

4932
5068

Які 5 найпоширеніших назв вакансій?

In [9]:
#new_df = df.groupby(['Job']).count().sort_values('Credit Card', ascending=False)
#new_df.head(5)

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [3]:
import re
df.loc[df['Lot'].str.contains('90 Wt', flags = re.IGNORECASE)]['Purchase Price']
#df.loc[df['Lot'] == '90 WT']['Purchase Price']

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [3]:



df.loc[df['Credit Card'] == 4926535242672853]['Email']

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [76]:
df.loc[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 100)]

#df.loc[df['Purchase Price'] > 100]

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [9]:
df.loc[df['CC Exp Date'].str.contains('25')].count()

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [14]:
empty_dict = {}

for row in df['Email']:
    listMails = row.split('@')
    if listMails[1] in empty_dict:
        empty_dict[listMails[1]] += 1
    else:
        empty_dict[listMails[1]] = 1
    

sort_orders = sorted(empty_dict.items(), key=lambda x: x[1], reverse=True)
counter = 0
for mail in sort_orders:
    if counter < 5:
        print(mail)
        counter += 1
    else:
        break

('hotmail.com', 1638)
('yahoo.com', 1616)
('gmail.com', 1605)
('smith.com', 42)
('williams.com', 37)

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [23]:
import  numpy as np

pivot = pd.pivot_table(df, index=['Browser Info', 'Job'], aggfunc='count')
pivot

,,AM or PM,Address,CC Exp Date,CC Provider,CC Security Code,Company,Credit Card,Email,IP Address,Language,Lot,Purchase Price
Browser Info,Job,,,,,,,,,,,,
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:2.0; sl-SI) AppleWebKit/533.25.6 (KHTML, like Gecko) Version/4.0 Safari/533.25.6","Psychotherapist, dance movement",1,1,1,1,1,1,1,1,1,1,1,1
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:4.0; en-US) AppleWebKit/535.34.7 (KHTML, like Gecko) Version/5.0 Safari/535.34.7",Retail merchandiser,1,1,1,1,1,1,1,1,1,1,1,1
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:5.0; sl-SI) AppleWebKit/532.10.4 (KHTML, like Gecko) Version/5.0.2 Safari/532.10.4",Firefighter,1,1,1,1,1,1,1,1,1,1,1,1
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:6.0; en-US) AppleWebKit/533.45.4 (KHTML, like Gecko) Version/4.1 Safari/533.45.4",Broadcast presenter,1,1,1,1,1,1,1,1,1,1,1,1
"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0) AppleWebKit/5321 (KHTML, like Gecko) Chrome/14.0.824.0 Safari/5321","Development worker, international aid",1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Opera/9.99.(X11; Linux i686; sl-SI) Presto/2.9.186 Version/12.00,Company secretary,1,1,1,1,1,1,1,1,1,1,1,1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.9.172 Version/12.00,Dramatherapist,1,1,1,1,1,1,1,1,1,1,1,1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.9.176 Version/10.00,Private music teacher,1,1,1,1,1,1,1,1,1,1,1,1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.164 Version/10.00,Hotel manager,1,1,1,1,1,1,1,1,1,1,1,1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.190 Version/11.00,"Scientist, forensic",1,1,1,1,1,1,1,1,1,1,1,1

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [27]:
import numpy as np
for row in df['Purchase Price']:
    if (row > 50) & (row < 100):
        df['Actual price'] = np.round(df['Purchase Price'] * 1.2, 2)
    elif row > 100:
        df['Actual price'] = np.round(df['Purchase Price'] * 1.1, 2)
    else:
        df['Actual price'] = np.round(df['Purchase Price'] * 1.3, 2)
#df.loc[(df['Purchase Price'] > 50) & (df['Purchase Price'] < 100), ['Actual price']] = np.round(df['Purchase Price'] * 1.2, 2)
#df.loc[df['Purchase Price'] > 100, ['Actual price']] = np.round(df['Purchase Price'] * 1.1, 2)
#df.loc[df['Purchase Price'] < 50, ['Actual price']] = np.round(df['Purchase Price'] * 1.3, 2)
#df = df.drop(columns='Actual price')


df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.77
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.88
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.14
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.65
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,98.65
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,30.76
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,100.78
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,46.61
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,81.11

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [39]:
df1 = df[['Language', 'Actual price']]

#df['Language'].rank(axis=0, method = 'min')
#df['Actual price'].rank(axis=0, method = 'max')


df1['Actual price'].rank(method = 'min')

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [40]:
pd.get_dummies(df['Language'])

,de,el,en,es,fr,it,pt,ru,zh
0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,1,0,0,0
9996,0,0,0,0,0,0,1,0,0
9997,0,1,0,0,0,0,0,0,0
9998,0,0,0,1,0,0,0,0,0
9999,0,1,0,0,0,0,0,0,0

Кінцевий набір даних збережіть у файл з розширенням csv.

In [41]:
df.to_csv('doneDataset')